*.rpy*
*.123
*.124
*.125
*.rec
*.dmp
*.023
*.com
*.dat
*.inp
*.ipm
*.log
*.mdl
*.msg
*.odb
*.prt
*.sim
*.simlog
*.sta
*.stt
*.cae
*.abq
*.pac
*.cid
*.sel
*.res
*.jnl
*.pyc
*.7
*.simdir
*.lck
*.SMABULK
*.fil